<!DOCTYPE html>
<html>
<head>	
	{{#def.admin_head}}
</head>
<body>
<div class="page-wrap">
	{{#def.admin_header}}
	<div class="container">
		<div class="max-width-3 mx-auto">
			<form method="POST" name="post" action="/admin/post/{{=it.post._id}}"> 
				<input type="hidden" name="id" value="{{=it.post._id}}"/>

				<div class="tab-frame">
					<input type="radio" class="tab-input" checked name="tab" id="tab1">
					<label for="tab1" class="tab-label">Post</label>

					<input type="radio" class="tab-input" name="tab" id="tab2">
					<label for="tab2" class="tab-label">Metadata</label>

					<div class="tab">
						<div class="form-group">
							<label>Title
							<input type="text" name="title" value="{{=it.post.title}}" /></label>
						</div>
						<div class="form-group">
							<label>Slug
							<input type="text" name="slug" value="{{=it.post.slug}}"/></label>
						</div>
						<div class="form-group clearfix">
							<label class="col col-6">Published
							<input type="radio" name="published" value="true" {{? it.post.published }}checked {{?}}/></label>
							<label class="col col-6">Draft
							<input type="radio" name="published" value="false" {{? !it.post.published }}checked {{?}}/></label>
						</div>
					</div>
					<div class="tab">
						<div class="form-group">
							<label>Keywords
							<input type="text" name="keywords" value="{{=it.post.keywords}}"/></label>
						</div>
						<div class="form-group">
							<label>Description
							<input type="text" name="description" value="{{=it.post.description}}"/></label>
							<small>Important. Usually used in shared link thumbnails like facebook.</small>
						</div>
					</div>
					
				</div>

				<div>
					<div class="form-group">
						<label>Article
						<textarea id="article" rows="6">{{=it.post.preview}}{{? it.post.preview}}--preview--{{?}}{{=it.post.body}}</textarea></label>
						<small>Use <i>--preview--</i> to break text. Pure html editor.</small>
					</div>
					<input type="hidden" name="preview"/>
					<input type="hidden" name="body"/>
					
					<div class="form-group">
						<label>Tags</label>
						<div id="tags" class="taggle_textarea"></div>
						/* tag margin fix */
						<small style="word-wrap: normal;">separated by comma (,)</small>
					</div>
					<div class="clearfix">
						<button type="button" id="btn-save-quit" class="green col-right col-3 ml1 ld ld-ext-right">
							Save & Quit
							<div class="ld ld-ring ld-cycle" style="font-size: 1.6em;"></div>
						</button>
						<button type="button" id="btn-save" class="green col-right col-3 mx1 ld ld-ext-right">
							Save
							<div class="ld ld-ring ld-cycle" style="font-size: 1.6em;"></div>
						</button>
						<a href="/admin" class="btn salmon col-right col-3 mx1">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	
</div>
	{{#def.footer}}
	<script type="text/javascript" src="/assets/lib/prism.js"></script>
	<script type="text/javascript" src="/assets/lib/taggle.min.js"></script>
	<script type="text/javascript" src="/assets/lib/alertify.min.js"></script>
	<script type="text/javascript" src="/assets/lib/serialize.min.js"></script>
	<script type="text/javascript">
		new Taggle("tags",{hiddenInputName: "tag",placeholder:""});

		document.post.title.onkeyup = function(e){
			document.post.slug.value = 
				/* normalize title to slug*/
				this.value.normalize("NFD").replace(/[\u0300-\u036f]/g, "").trim().toLowerCase().replace(/ /g,"-");
		};

		[].map.call(document.querySelectorAll("form input"), function(input){
			input.onkeypress = function(e) {if ( e.which == 13 ) e.preventDefault();}
		});

		document.querySelector("#btn-save").onclick = function(e) {
			var _self = this,
				arr = document.querySelector("#article").value.split(/--preview--/);

			_self.classList.add("running");

			if(arr.length > 1){
				document.post.preview.value = arr[0];
				document.post.body.value = arr[1];
			} else document.post.body.value = document.querySelector("#article").value;

			var req = new XMLHttpRequest();
			req.onload = function(){
				var res = JSON.parse(this.responseText);
				_self.classList.remove("running");
				_self.removeAttribute("disabled");
				if(res.ok){
					if(!document.querySelector("input[name=id]").value) {
						document.querySelector("input[name=id]").value = res.id;
						document.post.action="/admin/post/"+res.id;
					}
					alertify.success("Saved!");
				} 
				else alertify.error("Something went wrong =(");
			};
			req.open(_self.form.method, _self.form.action, true);
			req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			
			req.send(_self.form.serialize());

		};

		document.querySelector("#btn-save-quit").onclick = function(e) {
			var _self = this,
				arr = document.querySelector("#article").value.split(/--preview--/);

			_self.classList.add("running");

			if(arr.length > 1){
				document.post.preview.value = arr[0];
				document.post.body.value = arr[1];
			} else document.post.body.value = document.querySelector("#article").value;

			var req = new XMLHttpRequest();
			req.onload = function(){
				var res = JSON.parse(this.responseText);
				_self.classList.remove("running");
				_self.removeAttribute("disabled");
				if(res.ok) window.location.pathname = "/admin";
				else alertify.error('Something went wrong =(');
			};
			req.open(_self.form.method, _self.form.action, true);
			req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			
			req.send(_self.form.serialize());

		};

	</script>
</body>
</html>