<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{=it.site.name}} | Administration</title>
	<meta http-equiv="x-dns-prefetch-control" content="on">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="noindex,nofollow">

	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="/assets/style/normalize.min.css" type="text/css">
	<link rel="stylesheet" href="/assets/style/basscss.min.css" type="text/css" />
	<link rel="stylesheet" href="/assets/style/taggle.css" type="text/css" />
	<link rel="stylesheet" href="/assets/style/prism.css" type="text/css" />
	<link rel="stylesheet" href="/assets/style/loading.css" type="text/css" />
	<link rel="stylesheet" href="/assets/style/loading-btn.css" type="text/css" />
	
	<link rel="stylesheet" href="/assets/style/font.css" type="text/css" />
	<link rel="stylesheet" href="/assets/style/default-dark.css" type="text/css" />
	<link rel="stylesheet" href="/assets/style/card.css" type="text/css" />
	<link rel="stylesheet" href="/assets/style/form.css" type="text/css" />
	<link rel="stylesheet" href="/assets/style/buttons.css" type="text/css" />
	<link rel="stylesheet" href="/assets/style/footer.css" type="text/css" />
	<link rel="stylesheet" href="/assets/style/header.css" type="text/css" />
	<link rel="stylesheet" href="/assets/style/blog.css" type="text/css" />
	<link rel="stylesheet" href="/assets/style/admin.css" type="text/css" />
</head>
<body>
<div class="page-wrap">
	{{#def.admin_header}}
	<div class="container">
		<div class="max-width-3 mx-auto">
			<form method="POST" name="post" action="/admin/post/"> 
				<input type="hidden" name="id" value="{{=it.post._id}}"/>
				<input type="hidden" name="saveonly"/>

				<div class="tab-frame">
					<input type="radio" class="tab-input" checked name="tab" id="tab1">
					<label for="tab1" class="tab-label">Post</label>

					<input type="radio" class="tab-input" name="tab" id="tab2">
					<label for="tab2" class="tab-label">Metadata</label>

					<div class="tab">
						<div class="form-group">
							<label>Title
							<input type="text" name="title" value="{{=it.post.title}}" /></label>
						</div>
						<div class="form-group">
							<label>Slug
							<input type="text" name="slug" value="{{=it.post.slug}}"/></label>
						</div>
						<div class="form-group clearfix">
							<label class="col col-6">Published
							<input type="radio" name="published" value="true" {{? it.post.published }}checked {{?}}/></label>
							<label class="col col-6">Draft
							<input type="radio" name="published" value="false" {{? !it.post.published }}checked {{?}}/></label>
						</div>
					</div>
					<div class="tab">
						<div class="form-group">
							<label>Keywords
							<input type="text" name="keywords" value="{{=it.post.keywords}}"/></label>
						</div>
						<div class="form-group">
							<label>Description
							<input type="text" name="description" value="{{=it.post.description}}"/></label>
							<small>Important. Usually used in shared link thumbnails like facebook.</small>
						</div>
					</div>
					
				</div>

				<div>
					<div class="form-group">
						<label>Article
						<textarea id="article" rows="6">{{=it.post.preview}}{{? it.post.preview}}--preview--{{?}}{{=it.post.body}}</textarea></label>
						<small>Use <i>--preview--</i> to break text. Pure html editor.</small>
					</div>
					<input type="hidden" name="preview"/>
					<input type="hidden" name="body"/>
					
					<div class="form-group">
						<label>Tags</label>
						<div id="tags" class="taggle_textarea"></div>
						/* tag margin fix */
						<small style="word-wrap: normal;">separated by comma (,)</small>
					</div>
					<div class="clearfix">
						<button class="green col-right col-3 ml1 ld ld-ext-right">
							Save & Quit
							<div class="ld ld-ring ld-cycle" style="font-size: 1.6em;"></div>
						</button>
						<button id="btn-save" class="green col-right col-3 mx1 ld ld-ext-right">
							Save
							<div class="ld ld-ring ld-cycle" style="font-size: 1.6em;"></div>
						</button>
						<a href="/admin" class="btn salmon col-right col-3 mx1">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	
</div>
	{{#def.footer}}
	<script type="text/javascript" src="/assets/lib/prism.js"></script>
	<script type="text/javascript" src="/assets/lib/taggle.min.js"></script>
	<script src="/assets/lib/serialize.min.js"></script>
	<script type="text/javascript">
		new Taggle("tags",{hiddenInputName: "tag",placeholder:""});

		document.post.title.onkeyup = function(e){
			document.post.slug.value = 
				/* normalize title to slug*/
				this.value.normalize('NFD').replace(/[\u0300-\u036f]/g, "").trim().toLowerCase().replace(/ /g,"-");
		};

		[].map.call(document.querySelectorAll('form input'), function(input){
			input.onkeypress = function(e) {if ( e.which == 13 ) e.preventDefault();}
		});

		document.querySelector('#btn-save').onclick = function(e) {
			var _self = this,
				arr = document.querySelector('#article').value.split(/--preview--/);

			_self.classList.add("running");

			document.post.body.value = arr[0];
			document.post.preview.value = arr[1];
			document.post.saveonly.value = "true";
		}

	</script>
</body>
</html>