<!DOCTYPE html>
<html>
<head>
	{{#def.admin_head}}
</head>
<body>
<div class="page-wrap">
	{{#def.admin_header}}
	<div class="container">
		<div class="max-width-4 mx-auto">

			<form method="POST" name="settings" action="/admin/settings"> 
								
				<div class="clearfix mxn1">
					<div class="sm-col sm-col-12 px1 my2">
						<div class="card dark">
							<!-- card header -->
							<div class="clearfix card-head">
								<div class="sm-col sm-col-12 center">Settings</div>
							</div>

							<!-- card body / begin -->
							<div class="clearfix card-body">
								<div class="clearfix">
									<div class="sm-col sm-col-6 px1">
										<span class="h3">Site</span>
									</div>
								</div>
								<div class="clearfix mt3">
									<div class="sm-col sm-col-6 px1">
										<div class="form-group">
											<label>Site Name
											<input type="text" name="site_name" value="{{=it.NEEKA.name}}"/></label>
										</div>
									</div>
									<div class="sm-col sm-col-6 px1">
										<div class="form-group">
											<label>URL
											<input type="text" name="site_url" value="{{=it.NEEKA.url}}"/></label>
										</div>
									</div>
								</div>
								<div class="clearfix mt3">
									<div class="sm-col sm-col-6 px1">
										<div class="form-group">
											<label>Description
											<input type="text" name="site_description" value="{{=it.NEEKA.description}}"/></label>
										</div>
									</div>
									<div class="sm-col sm-col-6 px1">
										<div class="form-group">
											<label>Keywords
											<input type="text" name="site_keywords" value="{{=it.NEEKA.keywords}}"/></label>
										</div>
									</div>
								</div>
								<div class="flex items-end clearfix mt3">
									<div class="sm-col sm-col-4 px1">
										<div class="form-group">
											<label>Template
											<input type="text" name="template" value="{{=it.NEEKA.template}}"/></label>
										</div>
									</div>
									<div class="sm-col sm-col-2 px1">
										<button id="btn-reload-template" type="button" class="neeka-button green ld col-12 ld-ext-right">
											Reload
											<div class="ld ld-ring ld-cycle" style="font-size: 1.6em;"></div>
										</button>
									</div>
									<div class="sm-col sm-col-6 px1">
										<div class="form-group">
											<label>Google Analytics UID
											<input type="text" name="gaUID" value="{{=it.NEEKA.gaUID}}"/></label>
										</div>
									</div>
								</div>
								<div class="clearfix mt3">
									<div class="sm-col sm-col-6 px1">
										<span class="h3">SMTP (Send Emails)</span>
									</div>
								</div>
								<div class="clearfix mt3">
									<div class="sm-col sm-col-6 px1">
										<div class="form-group">
											<label>Host
											<input type="text" name="smtp_host" value="{{=it.NEEKA.smtp_host}}"/></label>
										</div>
									</div>
									<div class="sm-col sm-col-6 px1">
										<div class="form-group">
											<label>Port
											<input type="text" name="smtp_port" value="{{=it.NEEKA.smtp_port}}"/></label>
										</div>
									</div>
								</div>
								<div class="clearfix mt3">
									<div class="sm-col sm-col-6 px1">
										<div class="form-group">
											<label>User
											<input type="text" name="smtp_user" value="{{=it.NEEKA.smtp_user}}"/></label>
										</div>
									</div>
									<div class="sm-col sm-col-6 px1">
										<div class="form-group">
											<label>Password
											<input type="password" name="smtp_pass" value=""/></label>
										</div>
									</div>
								</div>
								<div class="clearfix mt3">
									<div class="sm-col sm-col-6 px1">
										<div class="form-group">
											<label>Secure?
											<input type="checkbox" name="smtp_secure" {{? it.NEEKA.smtp_secure}}checked {{?}}/></label>
										</div>
									</div>
								</div>
								<div class="clearfix mt3">
									<button id="btn-rebuild-meta" type="button" class="neeka-button sun col-right col-3 mx1 ld ld-ext-right">
										Rebuild Metadata
										<div class="ld ld-ring ld-cycle" style="font-size: 1.6em;"></div>
									</button>
									<button id="btn-reset-meta" type="button" class="neeka-button sun col-right col-3 mx1 ld ld-ext-right">
										Reset Metadata
										<div class="ld ld-ring ld-cycle" style="font-size: 1.6em;"></div>
									</button>
									<button id="btn-save" type="button" class="neeka-button green col-right col-3 mx1 ld ld-ext-right">
										Save
										<div class="ld ld-ring ld-cycle" style="font-size: 1.6em;"></div>
									</button>
								</div>
							</div>
							<!-- card body / begin -->
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>	
</div>

	{{#def.footer}}
	<script type="text/javascript" src="/assets/lib/prism.js"></script>
	<script type="text/javascript" src="/assets/lib/serialize.min.js"></script>
	<script type="text/javascript" src="/assets/lib/alertify.min.js"></script>
	<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function () {

		document.forms.settings.querySelector('#btn-save').onclick = function(){
			var _self = this;
	
			_self.classList.add("running");
			_self.setAttribute("disabled","");
			var req = new XMLHttpRequest();
			req.onload = function(){
				var res = JSON.parse(this.responseText);
				_self.classList.remove("running");
				_self.removeAttribute("disabled");
				if(res.ok) {
					alertify.success('Saved!');
					setTimeout(function(){document.location.pathname = "/admin/";},600);
				}
			};
			req.open(_self.form.method, _self.form.action, true);
			req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			
			if(document.querySelector("[name=smtp_pass]").value == "") document.querySelector("[name=smtp_pass]").disabled = "disabled";
			req.send(_self.form.serialize());
		};

		document.querySelector('#btn-reload-template').onclick = function(){
			var _self = this;
	
			_self.classList.add("running");
			_self.setAttribute("disabled","");
			var req = new XMLHttpRequest();
			req.onload = function(){
				var res = JSON.parse(this.responseText);
				_self.classList.remove("running");
				_self.removeAttribute("disabled");
				if(res.ok) {
					alertify.success("Updated!");
				} else {
					alertify.error("Failed");
				}
			};
			req.open("POST", "/admin/settings/reloadTemplate", true);

			req.send();
		};

		document.querySelector('#btn-reset-meta').onclick = function(){
			var _self = this;
	
			_self.classList.add("running");
			_self.setAttribute("disabled","");
			var req = new XMLHttpRequest();
			req.onload = function(){
				var res = JSON.parse(this.responseText);
				_self.classList.remove("running");
				_self.removeAttribute("disabled");
				if(res.ok) {
					alertify.success("Reseted!");
				} else {
					alertify.error("Failed");
				}
			};
			req.open("POST", "/admin/settings/resetMeta", true);

			req.send();
		};

		document.querySelector('#btn-rebuild-meta').onclick = function(){
			var _self = this;
	
			_self.classList.add("running");
			_self.setAttribute("disabled","");
			var req = new XMLHttpRequest();
			req.onload = function(){
				var res = JSON.parse(this.responseText);
				_self.classList.remove("running");
				_self.removeAttribute("disabled");
				if(res.ok) {
					alertify.success("Reseted!");
				} else {
					alertify.error("Failed");
				}
			};
			req.open("POST", "/admin/settings/rebuildMeta", true);

			req.send();
		};

		[].map.call(document.querySelectorAll('input'), function(input) {
			input.addEventListener("keyup", function(event) {
				event.preventDefault();
				if (event.keyCode === 13) {
					document.login.querySelector('button').click();
				}
			});
		});
	});

	</script>
</body>
</html>