<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{=it.title}} | {{=it.site.name}}</title>
	<meta http-equiv="x-dns-prefetch-control" content="on">
	<link rel="dns-prefetch" href="//{{=it.site.url}}" />
	<link rel="dns-prefetch" href="//www.google-analytics.com" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{=it.site.description}}">
	<meta name="keywords" content="{{=it.site.description}}">
	<meta name="robots" content="index,follow">

	<!-- Open Graph Protocol -->
	<meta property="og:site_name" content="{{=it.site.name}}">
	<meta property="og:url" content="//{{=it.url}}">
	<meta property="og:title" content="{{=it.title}}">

	<!-- Google+ Snippets -->
	<meta itemprop="url" content="//{{=it.url}}">
	<meta itemprop="name" content="{{=it.site.name}}">

	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="/assets/style/font.css" type="text/css" />
	<link rel="stylesheet" href="/assets/style/default.css" type="text/css" />
	<link rel="stylesheet" href="/assets/style/form.css" type="text/css" />
	<link rel="stylesheet" href="/assets/style/buttons.css" type="text/css" />
	<link rel="stylesheet" href="/assets/style/loading.css" type="text/css" />
	<link rel="stylesheet" href="/assets/style/loading-btn.css" type="text/css" />
	<link rel="stylesheet" href="/assets/style/footer.css" type="text/css" />
	<link rel="stylesheet" href="/assets/style/header.css" type="text/css" />
	<link rel="stylesheet" href="/assets/style/normalize.min.css" type="text/css">
	<link rel="stylesheet" href="/assets/style/basscss.min.css" type="text/css" />
</head>
<body>
<div class="page-wrap">
	{{#def.header}}
	<div class="container">
		{{? it.found}}
		<h2 class="subtitle" style="text-align: center;">{{=it.subtitle}}</h2>
		<div class="flex justify-center">
			<form class="sm-col sm-col-6 col-12" name="recovery" action="/forgot/{{=it.id}}" method="POST" enctype="application/x-www-form-urlencoded">
				<div class="form-group">
					<label>Senha
					<input type="password" name="password"/></label>
				</div>
				<div class="form-group">
					<label>Repetir Senha
					<input type="password" name="repeat"/></label>
					<small class="display-none msg" style="color: #ff4040">Senhas diferem</small>
				</div>

				<button type="button" class="neeka-button blue ld ld-ext-right col-12">
					Log In
					<div class="ld ld-ring ld-cycle" style="font-size: 1.6em;"></div>
				</button>
			</form>
		</div>
		{{??}}
		<h2 class="subtitle" style="text-align: center;">Link inválido!</h2>
		{{?}}	
	</div>
	
</div>
	{{#def.footer}}
<script src="/assets/lib/serialize.min.js"></script>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {

	var password = document.querySelector('[name=password]'),
		repeat = document.querySelector('[name=repeat]'),
		msg = document.querySelector('.msg');
	
	var validate = function (){
		return password.value === repeat.value;
	};

	for(var a = 0; a < document.forms.length; a++){
		document.forms[a].querySelector('button').onclick = function(){
			var _self = this;
			
			if(validate()){
				msg.classList.add("display-none");
				_self.classList.add("running");
				_self.setAttribute("disabled","");
				var req = new XMLHttpRequest();
				req.onload = function(){
					var res = JSON.parse(this.responseText);
					_self.classList.remove("running");
					_self.removeAttribute("disabled");
					if(res.ok) document.location.pathname = "/login";
				};
				req.open(_self.form.method, _self.form.action, true);
				req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				_self.form.repeat.disabled = 'disabled';
				req.send(_self.form.serialize());
			} else {
				msg.classList.remove("display-none");
			}
		};
	}
});
</script>
</body>
</html>