<option>actionscript</option>
<option>ada</option>
<option>apacheconf</option>
<option>applescript</option>
<option>asciidoc</option>
<option>bash</option>
<option>basic</option>
<option>batch</option>
<option>c</option>
<option>clike</option>
<option>coffeescript</option>
<option>cpp</option>
<option>csharp</option>
<option>css</option>
<option>dart</option>
<option>docker</option>
<option>dockerfile</option>
<option>erlang</option>
<option>fortran</option>
<option>fsharp</option>
<option>git</option>
<option>go</option>
<option>graphql</option>
<option>groovy</option>
<option>haskell</option>
<option>html</option>
<option>http</option>
<option>icon</option>
<option>jade</option>
<option>java</option>
<option>javascript</option>
<option>js</option>
<option>json</option>
<option>jsonp</option>
<option>latex</option>
<option>less</option>
<option>livescript</option>
<option>lua</option>
<option>makefile</option>
<option>markdown</option>
<option>markup</option>
<option>mathml</option>
<option>matlab</option>
<option>nginx</option>
<option>objectivec</option>
<option>pascal</option>
<option>perl</option>
<option>php</option>
<option>powershell</option>
<option>prolog</option>
<option>properties</option>
<option>puppet</option>
<option>python</option>
<option>q</option>
<option>r</option>
<option>ruby</option>
<option>sas</option>
<option>sass</option>
<option>scala</option>
<option>scheme</option>
<option>scss</option>
<option>sql</option>
<option>stylus</option>
<option>svg</option>
<option>swift</option>
<option>vbnet</option>
<option>vim</option>
<option>xml</option>
<option>yaml</option>
